* {
	margin: 0;
	padding: 0;
	outline: 0;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.inner-section {
	max-width: 900px;
	margin: 0 auto;
}

.row {
	display: flex;
}

a, a:hover {
	text-decoration: none;
}

ul, ol, li {
	list-style: none;
}

.col {
	flex-grow: 1;
	width: 100%;
}

.col-6 {
	flex-basis: 50%;
}

.col-3 {
	flex-basis: 25%;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.pl-60 {
	padding-left: 60px;
}

#header .header-top {
	background-color: #008435;
	padding: 5px 10px;
	color: #F6F8FD;
	font-family: open sans;
	font-size: 14px;
}

#header .header-top a {
	color: #F6F8FD;
}

#header .header-top .address li {
	display: inline-block;
}

#header .header-top .address li:last-child {
	margin-left: 20px;
}

#header .header-top .address li a {
	color: #F6F8FD;
	padding-right: 30px;
}

#header .header-top .address li a i {
	margin-right: 5px;
}

#header .header-top .social-media a {
	transition: 2s;
	padding-left: 15px;
	margin-right: 20px;
}

#header .header-top .social-media a:hover {
	color: #282828;
}

#header .header-middile {
	padding: 45px 0;
	font-size: 14px;
}

#header .header-middile .icon-box {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

#header .header-middile .icon-box i {
	padding-right: 5px;
	font-size: 30px;
	color: #008435;
}

#header .header-middile .icon-box h3 {
	font-size: 14px;
	color: #282828;
	font-family: "Poppins", sans-serif;
}

#header .header-middile .icon-box p {
	padding-top: 10px;
	font-size: 12px;
	font-family: "Poppins", sans-serif;
}

#header nav .container {
	position: relative;
}

#header nav .nav-wrapper {
	display: flex;
	justify-content: space-between;
	background-color: #008435;
	align-items: center;
	position: absolute;
	width: 100%;
	transform: translateY(-50%);
}

#header nav .nav-wrapper a {
	color: #F6F8FD;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-weight: 500;
	padding: 0 27px;
}

#header nav .nav-wrapper ul, #header nav .nav-wrapper li {
	display: inline-block;
}

#header nav .nav-wrapper .header-cta {
	background-color: #282828;
	padding: 20px 0;
	width: 200px;
	text-align: center;
}

#banner-section {
	background: url("../images/banner_slider_1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#banner-section .overlay {
	padding: 210px 0;
	background-color: rgba(0, 0, 0, 0.4);
}

#banner-section .inner-section h2 {
	color: #F6F8FD;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	margin-bottom: 24px;
	font-size: 72px;
	line-height: 60px;
}

#banner-section .inner-section p {
	color: #F6F8FD;
	font-family: "open-sans", sans-serif;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 34px;
	padding: 0px 80px;
}

.btn {
	font-size: 16px;
	font-weight: 600;
	font-family: "Poppins", sans-serif;
	color: #F6F8FD;
	padding: 15px 40px;
	border: 1px solid #008435;
}

.fill {
	margin-left: 18px;
	border-color: #F6F8FD;
}

.btn:hover {
	background-color: darkgreen;
}
