* {
	margin: 0;
	padding: 0;
	outline: 0;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.row {
	display: flex;
	justify-content: space-between;
}

a, a:hover {
	text-decoration: none;
}

ul, ol, li {
	list-style: none;
}

#header .header-top {
	background-color: #008435;
	padding: 5px 10px;
	color: #F6F8FD;
	font-family: open sans;
	font-size: 14px;
}

#header a {
	color: #F6F8FD;
}

#header address li {
	display: inline-block;
}

#header address li:last-child {
	margin-left: 20px;
}

#header address li a {
	color: #F6F8FD;
}

#header address li i {
	margin-right: 5px;
}
