* {
	margin: 0;
	padding: 0;
	outline: 0;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.row {
	display: flex;
}

a, a:hover {
	text-decoration: none;
}

ul, ol, li {
	list-style: none;
}

.col {
	flex-grow: 1;
	width: 100%;
}

.col-6 {
	flex-basis: 50%;
}

.col-3 {
	flex-basis: 25%;
}

.align-right {
	text-align: right;
}

.pl-60 {
	padding-left: 60px;
}

#header .header-top {
	background-color: #008435;
	padding: 5px 10px;
	color: #F6F8FD;
	font-family: open sans;
	font-size: 14px;
}

#header .header-top a {
	color: #F6F8FD;
}

#header .header-top .address li {
	display: inline-block;
}

#header .header-top .address li:last-child {
	margin-left: 20px;
}

#header .header-top .address li a {
	color: #F6F8FD;
}

#header .header-top .address li a i {
	margin-right: 5px;
}

#header .header-top .social-media a {
	transition: 2s;
	padding-left: 15px;
	margin-right: 20px;
}

#header .header-top .social-media a:hover {
	color: #282828;
}

#header .header-middile {
	padding: 35px 0;
	font-size: 14px;
}

#header .header-middile .icon-box {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

#header .header-middile .icon-box .icon {
	padding-right: 5px;
	font-size: 30px;
	color: #008435;
}

#header .header-middile .icon-box h3 {
	font-size: 18px;
	color: #282828;
}

#header .header-middile .icon-box p {
	padding-top: 10px;
	font-size: 15px;
}
