@import "./utils/variables";
@import "./utils/common";

@import "./layouts/header";
@import "./layouts/banner";


@import "./componets/buttons";
@import "./layouts/promo";
@import "./layouts/about";
@import "./layouts/service";
@import "./layouts/recent";
@import "./layouts/why-choose";
@import "./layouts/funfact";
