*{
    margin: 0;
    padding: 0;
    outline: 0;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.inner-section{
    max-width: 900px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.row-2{
    display: flex;
    flex-wrap: wrap;
}

a, a:hover {
    text-decoration: none;
}


ul,ol ,li{
    list-style: none;
    display: inline-block;
}
.col{
    flex-grow: 1;
    width: 100%;
}

.col-6{
    flex-basis: 50%;
}
.col-3{
    flex-basis: 25%;
}
.col-4{
    flex-basis: 33.33%;
}
.col-12{
    flex: 0 0 100%;
    max-width: 100%;
}


.align-center{
    text-align: center;
}
.align-right{
    text-align: right;
}
.pl-60{
    padding-left: 60px;
}