*{
    margin: 0;
    padding: 0;
    outline: 0;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.row{
    display: flex;
}

a, a:hover {
    text-decoration: none;
}


ul,ol ,li{
    list-style: none;
}
.col{
    flex-grow: 1;
    width: 100%;
}

.col-6{
    flex-basis: 50%;
}
.col-3{
    flex-basis: 25%;
}
.align-right{
    text-align: right;
}
.pl-60{
    padding-left: 60px;
}