* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a, a:hover {
    text-decoration: none;
}

ul, ol, li {
    list-style-type: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.align-right {
    text-align: right;
}

.col {
    flex-grow: 1;
    width: 100%;
}

.col-3 {
    flex-basis: 25%;
}

.col-6 {
    flex-basis: 50%;
}

.pl-10 {
    padding-left: 10px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-30 {
    padding-left: 20px;
}

.pl-40 {
    padding-left: 40px;
}

.pl-50 {
    padding-left: 50px;
}