$primary-bg:#008435;
$secondary-bg:#F6F8FD;
$headding-clr:#282828;
$font-clr:#707070;
$background-bg:#F7F8FC;

$primary-font:'Poppins', sans-serif;
$body-font:'open-sans',sans-serif;

$img_src: '../images';