.funfact-section {
    padding: 100px 0;
    background: url(..//../imeges/funfact-bg.jpg);
    position: relative;

 &:before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(0,132,53,.96);

 }  
 .section-title-item {
    text-align: center;
    position: relative;

    .section-title {
        margin-bottom: 55px;
        color: $secondary-bg;
        font-size: 48px;
        line-height: 55px;
        font-weight: 700;
        margin-bottom: 70px;
        position: relative;
        z-index: 1;

        span{
            font-size: 16px;
            font-family: $primary-font;
            color: $secondary-bg;
            display: block;
            font-weight: 500;
            margin-bottom: 15px;
            position: relative;
            line-height: 9px;
        }

        
    }
    
}

.single-funfact {
    text-align: center;
    margin: 0px 0 0;
    position: relative;
    


    i {
        font-size: 60px;
        color:$secondary-bg;
        margin-bottom: 30px;
        
       
    }
    
        
    
    .funfact-title {
        font-weight: 700;
        color:$secondary-bg;
        margin-bottom: 10px;
        font-size: 30px;
        line-height: 28px;
        font-family: $primary-font;
       
        
    }

    P {
        font-size: 14px;
        color: $secondary-bg;
        line-height: 26px;
        margin: 0 0 15px;
        font-family:$primary-font;
    
    }

   

}
}