#header{
    .header-top {
        background-color: $primary-bg;
        padding: 5px 10px;
        color: $secondary-bg;
        font-family: open sans;
        font-size: 14px;

        a {
            color: $secondary-bg;
        }

        .address li {
            display: inline-block;

            &:last-child {
                margin-left: 20px;
            }
           
            a {
                color: $secondary-bg;
                padding-right: 30px;

                i {
                    margin-right: 5px;
                }
            }
        }

        .social-media a {
            transition: 2s;
            padding-left: 15px;
            margin-right: 20px;
            
        
            &:hover{
                color: $headding-clr;
                
            } 
        }
        
    }
    .header-middile {
        padding: 45px 0;
        font-size: 14px;
        
        .icon-box {
            display: flex;
            align-items: center;
            column-gap: 10px;

            i {
                padding-right: 5px;
                font-size: 30px;
                color: $primary-bg;
            }
            
            h3 {
                font-size: 14px;
                color:$headding-clr;
                font-family:$primary-font;
            }

            p {
                padding-top: 10px;
                font-size: 12px;
                font-family:$primary-font;
            }         
            
        }
    }
    nav {
        .container {
            position: relative;
        }
        .nav-wrapper {
            display: flex;
            justify-content: space-between;
            background-color: $primary-bg;
            align-items: center;
            position: absolute;
            width: 100%;
            transform: translateY(-50%);

            a {
                color: $secondary-bg;
                font-family: $primary-font;
                font-size: 14px;
                font-weight: 500;
                padding: 0 27px;
                

            }
            ul,li {
                display: inline-block;

            }
            .header-cta {
                background-color: $headding-clr;
                padding: 20px 0;
                width: 200px;
                text-align: center;
                
            }
            
        }
    }
}
    