#header{
    .header-top{
        background-color: $primary-bg;
        padding: 5px 10px;
        color: $secondary-bg;
        font-family: open sans;
        font-size: 14px;
    }
    a{
        color: $secondary-bg;
    }
    address li{
       display: inline-block;
       &:last-child{
           margin-left: 20px;
       }
       a{
        color: $secondary-bg;
       }
       i{
        margin-right: 5px;
       }
    }
}