.btn{
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color:$secondary-bg;
    padding: 15px 40px;
    border: 1px solid $primary-bg;
    
}
.btn-2{
    padding: 12px 20px;
    font-size: 12px;
    font-weight: 400;
    font-family: $primary-font;
    color: $secondary-bg;
}

.ab {
    background-color: $primary-bg;
}

.fill{
    margin-left: 18px;
    border-color: $secondary-bg;
}
.btn:hover{
    background-color: darkgreen;
}