.btn{
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color:$secondary-bg;
    padding: 15px 40px;
    border: 1px solid $primary-bg;
    
}

.fill{
    margin-left: 18px;
    border-color: $secondary-bg;
}
.btn:hover{
    background-color: darkgreen;
}